
.se-react-dropdown {
  position: relative;
  display: inline-block;

  %scrollbar {
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .select {
    height: 35px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: grey;
    position: relative;
    padding-right: 23px;
    box-sizing: border-box;

    .text {
      line-height: 35px;
      text-align: left;
      padding-left: 10px;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
    }

    svg {
      position: absolute;
      right: 8px;
      top: calc(50% - 6px);
      width: 10px;

      &.fa-caret-up, &.fa-caret-down {
        top: calc(50% - 8px);
      }
    }

  }

  .panel {
    position: absolute;
    box-sizing: border-box;
    min-width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

    &.hide {
      display: none;
    }

    ul {
      @extend %scrollbar;
      padding: 0;
      margin: 0;
      overflow-y: auto;
      max-height: 200px;
    }

    li {
      cursor: pointer;
      height: 25px;
      line-height: 25px;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      color: grey;
      white-space: nowrap;

      &:hover {
        background-color: #f7f7f7;
      }

      &.active{
        background-color: #ccc;
      }
    }

  }

}
